[Unit]
Description=Docmeld GitHub webhook service
After=network.target

[Service]
Restart=always
RestartSec=300
User=docmeld
Group=www-data
WorkingDirectory=/home/docmeld/docmeld/
ExecStart=/usr/local/bin/uwsgi --ini /home/docmeld/docmeld/nginx/uwsgi.ini

[Install]
WantedBy=multi-user.target
